._*
*~

[568a].out
core

_cgo_*
_obj
_test
_testmain.go

*.o
*.a
*.[as]o
*.[568ao]
*.bundle
*.un~
*.rbc
*.pyc
*.exe
*.gem
*.log
*.rej
*.orig
*.class
*.sqlite
*.tmproj*
*.sw[a-z]
*.cgo*.go
*.cgo*.c
.*.sw[a-z]
.nfs.*

.git
.svn
.cvs

.bundle
.config
Gemfile.lock

.gems
.rbenv
.ruby-version
.ruby-gemset
.rbenv-gemsets

.directory

.DS_Store?
.Spotlight*
.Trash*

Icon?

tmp
temp
coverage
