._*
*~

*.[568avq]
[568avq].out
core

*.o
*.a
*.obj
*.elf
*.dylib
*.[as]o
*.[568ao]
*.bundle
*.rbc
*.exe
*.exe~
*.com
*.dll
*.sw[a-z]
.*.sw[a-z]

*.[7gx]z
*.[jrt]ar
*.zip

*.gem

*.rej
*.orig

*.log

*.test
*.out

.git

.bundle
Gemfile.lock

.gems
.rbenv
.rbenv-gemsets
.ruby-version
.ruby-gemset

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-*
.Trash*

.vagrant

.direnv
.envrc

Icon?
Icon[]

.idea
.vscode

pkg
ports
tmp
ext/magic/share/
