language: ruby
dist: xenial

cache:
  bundler: true
  directories:
    - "${HOME}/cache"

bundler_args: --jobs 3 --retry 5

rvm:
  - '2.5'
  - '2.6'
  - '2.7'
  - '3.0'

env:
  matrix:
    - VERSION=5.29 SHA1=8d360aeed901e3e4f4d4a865696ac1e29efdfcca COMPILER=gcc
    - VERSION=5.29 SHA1=8d360aeed901e3e4f4d4a865696ac1e29efdfcca COMPILER=clang
    - VERSION=5.30 SHA1=276051cd2c438d4e7a321c4422a5b3bc850fd747 COMPILER=gcc
    - VERSION=5.30 SHA1=276051cd2c438d4e7a321c4422a5b3bc850fd747 COMPILER=clang
    - VERSION=5.31 SHA1=d66f71fb29ec0e9cecbefe9d7433d7a315f3302c COMPILER=gcc
    - VERSION=5.31 SHA1=d66f71fb29ec0e9cecbefe9d7433d7a315f3302c COMPILER=clang
    - VERSION=5.32 SHA1=c2858a8043387d1229d8768ad42762a803d017db COMPILER=gcc
    - VERSION=5.32 SHA1=c2858a8043387d1229d8768ad42762a803d017db COMPILER=clang
    - VERSION=5.33 SHA1=31a67e4dc0a3d7a8d1b850429c3f625314700240 COMPILER=gcc
    - VERSION=5.33 SHA1=31a67e4dc0a3d7a8d1b850429c3f625314700240 COMPILER=clang
    - VERSION=5.34 SHA1=509e30ad0e0d74fa4040a28ce4667486cfe2170c COMPILER=gcc
    - VERSION=5.34 SHA1=509e30ad0e0d74fa4040a28ce4667486cfe2170c COMPILER=clang
    - VERSION=5.35 SHA1=a6f73580a93b768bfedd01ba54868375b7eb7bd0 COMPILER=gcc
    - VERSION=5.35 SHA1=a6f73580a93b768bfedd01ba54868375b7eb7bd0 COMPILER=clang
    - VERSION=5.36 SHA1=473e0a2fb4f091031d449ed4d7ea912741f0c7e9 COMPILER=gcc
    - VERSION=5.36 SHA1=473e0a2fb4f091031d449ed4d7ea912741f0c7e9 COMPILER=clang
    - VERSION=5.37 SHA1=891176efa3006eff222bd364cd96135aad171941 COMPILER=gcc
    - VERSION=5.37 SHA1=891176efa3006eff222bd364cd96135aad171941 COMPILER=clang
    - VERSION=5.38 SHA1=57cad9341c3f74f8681c2ef931786c420105f35e COMPILER=gcc
    - VERSION=5.38 SHA1=57cad9341c3f74f8681c2ef931786c420105f35e COMPILER=clang
    - VERSION=5.39 SHA1=a5a8941a8e4c436fe22933db6a71c5161c3fb10b COMPILER=gcc
    - VERSION=5.39 SHA1=a5a8941a8e4c436fe22933db6a71c5161c3fb10b COMPILER=clang

matrix:
  fast_finish: true
  allow_failures:
    - rvm: '3.0'

branches:
  only:
    - master

notifications:
  email:
    on_success: never
    on_failure: always

before_install:
  - gem install bundler
  - bundle config set --local path 'vendor/bundle'
  - bundle config set --local without 'development'
  - export CC="$(which $COMPILER)"
  - export PREFIX='/tmp/travis'
  - sudo -H -E -n "VERSION=${VERSION}" "SHA1=${SHA1}" "CC=${CC}" "PREFIX=${PREFIX}" "PATH=${PATH}" scripts/libmagic.sh

before_script:
  - export CFLAGS="-I${PREFIX}/include" LDFLAGS="-L${PREFIX}/lib"
  - export LD_LIBRARY_PATH="${PREFIX}/lib"
  - bundle exec rake clean

script:
  - bundle exec rake compile
  - bundle exec rake test
